html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'DMSans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  background-color: #fff;
  color: $blue-850;
}

.main {
  flex-grow: 1;
}

.wrapper {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  @extend .wrapper;
  max-width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  color: $black-900;
}

.btn {
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
}

.link-btn {
  display: inline-block;
  position: relative;
  padding: 15px 95px 15px 25px;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  background-color: $blue-800;
  border: 1px solid transparent;
  transition: background-color 0.3s;
  cursor: pointer;

  &:hover {
    background-color: $blue-900;
  }

  svg {
    position: absolute;
    fill: #fff;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
  }
}