@import 'fonts';
@import 'vars';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 45px 0 45px;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    max-width: 145px;
  }
}

// сначала задал логотипу margin-right, но это бред, при адаптиве ломается, пришлось на абсолюте
.menu {
  &__list {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    line-height: 0.8;
    color: $blue-850;
  }

  &__item:not(:last-child) {
    margin-right: 35px;
  }

  &__link {
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s;

    &:hover {
      border-bottom-color: $blue-850;
    }
  }
}

.user-nav {
  display: flex;

  &__search,
  &__burger {
    padding: 14px 16px 8px;
    border-radius: 50%;
    background-color: $grey-600;
    transition: background-color 0.3s;

    &:active {
      background-color: $orange-600;
    }
  }

  &__search {
    margin-right: 20px;
  }

  &__burger {
    background-color: $blue-800;
  }

  &__inner {
    display: flex;
    margin-right: 17px;
    background-color: $orange-600;
    border-radius: 50px;
  }

  &__link {
    position: relative;

    &--heart {
      padding: 16px 30px 8px 40px;
    }

    &--cart {
      padding: 16px 40px 8px 30px;
    }

    &--heart::after {
      content: '';
      position: absolute;
      width: 1px;
      height: 32px;
      top: 10px;
      right: 0;
      background-color: $orange-500;
      transition: color 0.3s;
      opacity: 0.8;
    }

    &:hover {
      color: red;
    }
  }

  &__num {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 17px;
    height: 18px;
    font-size: 10px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;

    &--cart {
      right: 32px;
    }
  }
}

// с высотой не нравится, но не знаю как по-другому сделать =(
.top-slider {
  &__inner {
    height: 820px;
  }

  &__item {
    position: relative;
    background-color: $orange-600;
    height: 820px;
  }

  // контент не по центру, поэтому сделал так, другого способа не знаю
  &__content {
    position: absolute;
    max-width: 470px;
    width: 100%;
    left: 17%;
    top: 47%;
    transform: translateY(-50%);
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
  }

  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.1;
    text-transform: uppercase;
    color: $blue-900;
  }

  &__text {
    max-width: 350px;
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
  }

  &__img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translateY(-50%);
    max-width: 640px;
    z-index: 1;

    // при адаптиве будет грустноиз-за размеров
    &::after {
      content: '';
      position: absolute;
      background-image: url(../images/slider/circle.png);
      width: 635px;
      height: 635px;
      left: 145px;
      top: 50%;
      transform: translateY(-50%);
      z-index: -1;
    }
  }

  .slick-dots {
    display: flex;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);

    li {
      button {
        position: relative;
        width: 28px;
        height: 28px;
        font-size: 11px;
        border-radius: 50%;
        border: transparent;
        color: #243f4d;
        background-color: rgba(255, 255, 255, 0.3);
        transition: background-color 0.3s;
        cursor: pointer;

        &:hover {
          background-color: #fff;
        }
      }

      &.slick-active {
        button {
          background-color: #fff;
        }
      }
    }

    li:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.top-advantages {
  display: flex;
  justify-content: space-between;
  background-color: rgba(252, 215, 182, 0.3);

  &__item {
    position: relative;
    width: calc(100%/3);
    padding: 35px 145px 40px 220px;

    &:not(:last-child) {
      border-right: 1px solid #e8e4df;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50px;
      left: 145px;
    }

    &--clock::before {
      width: 53px;
      height: 54px;
      background-image: url(../images/icons/clock.png);
    }

    &--delivery::before {
      width: 55px;
      height: 37px;
      background-image: url(../images/icons/delivery.png);
    }

    &--payment::before {
      width: 54px;
      height: 53px;
      background-image: url(../images/icons/payment.png);
    }
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
  }
}

.mix-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -30px;
  }

  &__btn {
    font-weight: 700;
    font-size: 16px;
    color: $grey-800;

    &:hover,
    &.mixitup-control-active {
      color: $black-950;
    }
  }

  &__button:not(:last-child) {
    margin-right: 18px;
  }

  &__item {
    position: relative;
    margin: 0 30px 40px 0;
    max-width: 270px;
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

    &--new {
      max-width: 370px;
      background-color: $grey-550;
      box-shadow: none;
      border-radius: 0;
    }
  }

}

.popular {
  position: relative;
  padding: 55px 0 80px;

  &__title {
    margin-bottom: 10px;
  }
}

.product-card {

  &__inner {
    margin-bottom: 50px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    &--new {
      max-width: 335px;
      width: 100%;
      height: 195px;
    }
  }

  &__desc {
    display: block;
    position: absolute;
    top: 15%;
    left: 10%;
    text-align: left;
    max-width: 175px;
    z-index: 1;
  }

  &__img {
    max-width: 250px;

    &--new {
      position: absolute;
      max-width: 375px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__items {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 155px;
    text-align: center;
    z-index: 1;
    opacity: 0;
    cursor: pointer;

    &--new {
      bottom: 30px;
    }
  }

  &:hover {
    .product-card__items {
      opacity: 1;
    }
  }

  &__icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid transparent;
    border-color: $blue-800;
    transition: background-color 0.3s;
    cursor: pointer;

    svg {
      transform: translateY(50%);
      fill: $blue-800;
    }

    &:hover {
      background-color: $blue-800;

      svg {
        fill: #fff;
      }
    }
  }

  &__icon:not(:last-child) {
    margin-right: 17px;
  }

  &__name,
  &__price {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: $blue-900;

    &--new {
      font-weight: 700;
      font-size: 20px;
      line-height: 1.3;
      text-align: left;
    }
  }

  &__price {
    padding-bottom: 30px;
    color: $blue-800;
  }
}

.accessories {
  display: flex;
  justify-content: space-between;
  padding-top: 145px;

  &__item {
    position: relative;
    max-width: 870px;
    width: 100%;
    height: 390px;
    background-color: $orange-470;
  }

  &__img {
    position: absolute;
    width: 230px;
    top: -25%;
    left: 16%;
  }

  // мне кажется я фигню делаю, расскажи как правильно позиционировать, если отступы не по центру
  &__content {
    position: absolute;
    max-width: 340px;
    width: 100%;
    right: 16%;
    top: 48%;
    transform: translateY(-50%);
  }

  &__title {
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
  }

  &__text {
    margin-bottom: 25px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }

}

.link-btn__accessories {
  padding: 15px 85px 15px 20px;
  background-color: transparent;
  color: $blue-850;
  border: 1px solid $grey-700;
  border-radius: 5px;

  svg {
    fill: $blue-850;
  }

  &:hover {
    color: #fff;

    svg {
      fill: #fff;
    }
  }
}

.new-design {
  margin-bottom: 80px;
}

.video {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;

  &__img {
    position: relative;
    height: 100px;
    width: 100px;
    background-color: $blue-800;
    border-radius: 50%;
    animation: radial-pulse 1.5s infinite;
    transition: background-color 0.3s;

    svg {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 50%;
      transform: translateY(-50%);
      fill: #fff;
    }

    @keyframes radial-pulse {
      0% {
        box-shadow: 0 0 0 0px rgba(163, 187, 200, 0.8);
      }

      // Не понимаю как задать на ховер изменение цвета пульсации, если нельзя тогда просто цвет кнопки треугольной поменяю или просто оставлю как есть
      // box-shadow: 0 0 0 0px rgba(252, 215, 182, 0.8);
      100% {
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
      }
    }

    // Хочу при наведении все в оранжевый сделать
    // &:hover {
    //   background-color: $orange-600;
    // }
  }
}

.news {
  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__link {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    color: $black-900;

    svg {
      margin-left: 15px;
      fill: $black-900;
    }

    &:hover {
      color: $blue-800;

      svg {
        fill: $blue-800;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 370px;
    width: 100%;
  }

  &__img {
    display: block;
    position: relative;

    span {
      position: absolute;
      left: 8%;
      bottom: -5%;
      padding: 0 30px;
      font-weight: 700;
      color: #fff;
      background-color: $blue-800;
      border-radius: 50px;
      transition: color 0.3s;

      &:hover {
        color: $black-900;
      }
    }
  }

  //  без высоты ровно не встают =(
  &__desc {
    display: flex;
    flex-direction: column;
    padding: 35px 25px 15px 35px;
    max-height: 170px;
    height: 100%;
    background-color: #fff;
  }

  &__text {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
  }

  // не знаю можно ли из спрайта сюда на background-image поставить, поэтому пока так
  &__info {
    margin-top: auto;
    padding-top: 10px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.5;
    border-top: 1px solid $grey-700;
    text-transform: uppercase;

    svg {
      margin-right: 5px;
      fill: $black-900;
      transition: fill 0.3s;
    }
  }

  &__calendar {
    margin-right: 20px;
  }

  &__author {
    transition: color 0.3s;

    &:hover {
      color: $blue-800;

      svg {
        fill: $blue-800;
      }
    }
  }

  // не сооброжу как сделать отрицательно ровно не в пикселях, при адаптиве будет плохо =( 
  .inner {
    padding-top: 260px;
    padding-bottom: 90px;
    background-color: $orange-450;
    margin-top: -155px;
  }

  // не понимаю почему при запуске скрипта в main.js он крашит эти стили
  .partners {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__item {
      max-width: 155px;
    }
  }
}

.footer {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;

  // тут паддингу приоритета не хватало, убрал из резета паддинг 0 по классу у ul
  &__items {
    display: flex;
    padding: 80px 0;
    font-size: 14px;
    line-height: 1.7;
    border-bottom: 1px solid $blue-750;
    color: $grey-850;
  }

  &__item {
    display: flex;
    flex-direction: column;

    &:not(:first-child) {
      transform: translateY(10%);
    }

    &:not(:last-child) {
      max-width: 200px;
      width: 100%;
      margin-right: 100px;
    }
  }

  &__title {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
    color: $blue-950;
  }

  &__link {
    display: block;
    margin-bottom: 10px;
    transition: color 0.3s;

    &:hover {
      color: $blue-950;
    }
  }

  &__text {
    margin-bottom: 38px;
  }

  &__logo img {
    margin-bottom: 25px;
  }

  &__form {
    max-width: 270px;
  }

  &__form-input {
    max-width: 170px;
    width: 100%;
    padding: 13px 15px 11px 15px;
    font-size: 12px;
    line-height: 1.2;
    color: $blue-920;
    background-color: $orange-450;
    border: transparent;
    outline: transparent;

    &::placeholder {
      color: $blue-920;
    }

    &:focus {
      background-color: $orange-600;
    }
  }

  &__form-btn {
    padding: 7px 15px 6px 15px;
    margin-left: -4px;
    background-color: $blue-800;
    color: #fff;
    transition: color 0.3s;

    &:hover {
      color: $blue-920;
    }
  }
}

.address {
  font-style: inherit;

  &__item:not(:last-child) {
    display: block;
    margin-bottom: 12px;
    transition: color 0.3s;
  }

  &__item:not(:first-child):hover {
    color: $blue-950;
  }
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  padding: 35px 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: $grey-850;

  &__items {
    display: flex;
  }

  &__item {
    transition: color 0.3s;

    &:hover {
      color: $blue-920;
    }

    &:not(:last-child) {
      position: relative;
      margin-right: 30px;
    }

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      top: 1px;
      right: -17px;
      width: 2px;
      height: 18px;
      background-color: $grey-850;
      opacity: 0.4;
    }
  }
}